body{
    margin: 0%;
    background-image: url(https://www.ecestaticos.com/imagestatic/clipping/425/69d/42569d15b463156dd74526265dee7892/puede-influir-un-fondo-negro-a-tu-estado-de-animo.jpg?mtime=1644244443);
}
.Titulo{
    text-align: center;
    color: white;
}
.Titulo h1{
    background-position: center;
}
.Resumen{
    color: white;
    text-align: center;
}
.Resumen ul{
    text-align: center;
}
.Resumen h3{
    background-position: center;    
}
.row{
    color: white;
    text-align: center;
}
.Formacion{
    color: white;
}
.Redes{
    color: white;
    text-align: center;
}
.CV{
    color: white;
}

